.card {
    display: flex;
    flex-direction: column;
    background-color: #f7f9fb;
    border-radius: 8px;
    border: 1px solid rgba(77, 77, 77, 0.3);
    padding: 15px 18px;
    width: 33%;
    height: 89px;
}

.operator, .value {
    font-weight: bolder;
    font-size: 32px;
}
